.header__subtitle {
  position: absolute;
  width: 388px;
  left: 0;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 50;
  padding: 0 0 30px 64px;
  margin: 0;
}
